<div class="d-flex col-xl-4 col-sm-4 col-md-4 col-lg-4" style="margin: 30px">
  <div class="card d-flex flex-row" style="width: 18rem; border-radius: 10px;">
    <div class="res-circle">
      <div class="circle-txt">{{ card.capitalLetters }}</div>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ card.name }}</h5>
      <p class="card-text">
        {{ card.userName }}
      </p>
      <a class="card-text" href="mailto:{{ card.email }}">{{ card.email }}</a>
      <a lass="card-text" href="tel:{{ card.phoneNumber }}">{{ card.phoneNumber }}</a>
    </div>
  </div>
</div>
